# macOS
.DS_Store

# Secrets / configuración local
SportBoardApp/Utilities/Constants.swift


# Xcode
DerivedData
build
*.xcuserstate
xcuserdata
*.xcworkspace/xcuserdata

# SwiftPM
.build

# Logs
*.log

# Secrets / config
*.plist.lock
